/* You can add global styles to this file, and also import other style files */

/* Import Google Fonts - Manrope and Inter */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f5ff;
    color: #242c51;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif;
  }
}
